body {
    padding-top: 10px;
    font-family:sans-serif;
    width: 1195px;
    margin: 0 auto;
}

#container {
    width: 1200px;
    float: left;
}

#center {
    display: inline-block;
    margin:0 auto;
    width:903px;
    height: 620px;
}

#right {
    display: inline-block;
    padding-top: 28px;
    float:right;
    width:170px;
    height: 520px;
}

#left {
    display: inline-block;
    background-color: e75486;
    float: left;
    width: 100px;
    margin-right: 20px;
}

#logForm {
    width: 262px;
    float: right;
}
#saveForm {
    width: 426px;
    float: right;
}

.tool {
    margin-top: 20px;
    margin-bottom: 5px;
}

#objects {
    float: left;
    margin-top: 31px;
    margin-bottom: 6px;
}

.object {
    width: 85px;
    margin-top: 4px;
}

#objects .blue {
    background-color:#00BFFF;
    color:#333;
}


.btn-default.active, .btn-default.focus, .btn-default:active, .btn-default:focus, .btn-default:hover, .open>.dropdown-toggle.btn-default {
    color: #333;
    background-color: #00BFFF;
    border-color: #333;
}

#fill {
    color: #333;
    background-color: #00BFFF;
    border-color: #333;
}

#myCanvas:hover {
    cursor: crosshair;
}

#save {
    float: right;
}

#function {
    width: 260px;
    float: left;
}


.black {
    background-color: #222;
}

.red {
    background-color: #d9534f;
}

.blue {
    background-color: #337ab7;
}

.green {
    background-color: #5cb85c;
}

.white {
    background-color: #FFFFFF;
}

.colors {
    padding: 10px;
    border: 1px solid black;
    margin-top: 5px;
}

.colors:hover{
    /*padding: 12px;
    color: ;*/
}

strong {
    margin: 3px 3px;
}

#template{
    background-color: #FFFFFF;
}

#toolsForm {
    margin-top: 5px;
}

#logError {
    color: #d9534f;
}

.unselectable {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

/*@gray-darker:  lighten(#000, 13.5%); // #222
@gray-dark:    lighten(#000, 20%);   // #333
@gray:         lighten(#000, 33.5%); // #555
@gray-light:   lighten(#000, 46.7%); // #777
@gray-lighter: lighten(#000, 93.5%); // #eee

@brand-primary: darken(#428bca, 6.5%); // #337ab7
@brand-success: #5cb85c;
@brand-info:    #5bc0de;
@brand-warning: #f0ad4e;
@brand-danger:  #d9534f;*/