body {
    padding-top: 10px;
    font-family:sans-serif;
    width: 1296px;
    margin: 0 auto;
}

#container {
    width: 1250px;
    float: left;
}

#center {
    display: inline-block;
    margin:0 auto;
    width:903px;
    height: 620px;
}

#right {
    display: inline-block;
    padding-top: 33px;
    float:right;
    width:170px;
    height: 520px;
}

#left {
    display: inline-block;
    background-color: e75486;
    float: left;
    width: 100px;
    margin-right: 20px;
}

.toggle {
    display: none;
}

#logForm {
    width: 262px;
    float: right;
}

#saveForm {
    width: 336px;
    float: right;
}

.tool {
    margin-top: 20px;
    margin-bottom: 5px;
}

#objects {
    float: left;
    margin-top: 31px;
    margin-bottom: 6px;
}

.object {
    width: 85px;
    margin-top: 4px;
}

#objects .blue {
    background-color:#00BFFF;
    color:#333;
}


.btn-default.active, .btn-default.focus, .btn-default:active, .btn-default:focus, .btn-default:hover, .open>.dropdown-toggle.btn-default {
    color: #333;
    background-color: #00BFFF;
    border-color: #333;
}

#fill {
    color: #333;
    background-color: #00BFFF;
    border-color: #333;
}

#myCanvas:hover {
    cursor: crosshair;
}

#save {
    float: right;
}

#function {
    width: 260px;
    float: left;
}

.black {
    background-color: #222;
}

.red {
    background-color: #d9534f;
}

.blue {
    background-color: #337ab7;
}

.green {
    background-color: #5cb85c;
}

.white {
    background-color: #FFFFFF;
}

.orange {
    background-color: #f0ad4e;
}

.lightBlue {
    background-color: #5bc0de;
}

.pink{
    background-color: #ffc6c2;
}

.colors {
    padding: 10px;
    border: 1px solid black;
    margin-top: 5px;
}

strong {
    margin: 3px 3px;
}

#template{
    background-color: #FFFFFF;
}

#toolsForm {
    margin-top: 5px;
}

.error {
    display: none;
    color: #d9534f
}

.success {
    display: none;
    color: #5cb85c;
}

.unselectable {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

td:hover{
    cursor: pointer;
}